
<div class="table_box">
	<table width="100%" border="0" class="cw_table thead_2">
		<thead>
			<tr>
				<th class="fst">序号</th>
				<th>名字</th>
				<th>节点类型</th>
				<th>数据</th>
				<th class="lst">操作</th>
			</tr>

		</thead>
		<tbody>
			#foreach($zkNode in $!childrenList)
			<tr #if(${velocityCount}%2==0) class="even" #end>
				<td>${velocityCount}</td>
				<td>$!{zkNode.id}</td>
				<td>$!{zkNode.nodeModel.msg}</td>
				<td>$!{zkNode.data}</td>
				<td></td>
			</tr>
			#end
		</tbody>
	</table>
</div>

