@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; list-style:none;}
.select{ width:120px;font-size:12px;display:inline-block;}
.select span{ height:28px; line-height:28px;display:block; border:1px solid #e1e1e1; border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding-left:5px;color:#555;background:#fff; position:relative;border-radius: 5px;}
.select span em{display: inline-block;float: right;width: 28px;height: 28px;background: #E2E3E7 url(../images/cont_icon.png) 6px 8px no-repeat;border-radius: 0 3px 3px 0;}
.select ul{ border:1px solid #e1e1e1; width:118px; display:none; position:absolute; background:#fff; z-index:10;margin-top:-1px;max-height: 200px;overflow-y:auto;}
.select ul li{ height:30px; line-height:30px; text-align:left;padding-left:5px;}
.select ul li:hover{ background:#1e90ff; color:#fff;}
